{% extends 'layout.html' %}
{% block content %}
    {% for blog in blogs %}
    <section class="media pitch-area">
        <div class="media-body">
            <div class = 'section'>
                <a class="mr-2" href='#'>{{blog.author}}</a>
                <small class="text-muted">{{blog.date_posted}}</small>
            </div>
            <h2><a class ='section-title' href="#">{{blog.title}}</a></h2>
            <p class='section-content'>{{blog.content}}</p>
        </div>
    </section>
    {% endfor %}
{% endblock %}

